[defaults]
inventory = ./inventories/
roles_path = ./roles:~/.ansible/roles
collections_path = ./collections:~/.ansible/collections
library = ./library:~/.ansible/plugins/modules
module_utils = ./module_utils:~/.ansible/plugins/module_utils
inventory_plugins = ./inventory_plugins:~/.ansible/plugins/inventory
playbook_dir = ./playbooks
host_key_checking = False
stdout_callback = yaml

[galaxy]
server_list = release_galaxy

[galaxy_server.release_galaxy]
url = https://galaxy.ansible.com/

[yc]
# Опционально: дефолтные настройки для Yandex Cloud
folder_id = b1gxxxxxxxxxxxxx
zone_id = ru-central1-a