server {
    listen 8080;
    server_name localhost;
    
    location / {
        proxy_pass http://{{ clickhouse_ip }}:8123/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        
        proxy_pass_request_headers on;
        proxy_buffering off;
        
        add_header Access-Control-Allow-Origin *;
        add_header Access-Control-Allow-Methods "GET, POST, OPTIONS";
        add_header Access-Control-Allow-Headers "origin, x-requested-with, content-type";
        
        if ($request_method = OPTIONS) {
            add_header Access-Control-Allow-Origin *;
            add_header Access-Control-Allow-Methods "GET, POST, OPTIONS";
            add_header Access-Control-Allow-Headers "origin, x-requested-with, content-type";
            add_header Content-Length 0;
            add_header Content-Type text/plain;
            return 204;
        }
    }
}