[defaults]
inventory = inventory/prod.yml
host_key_checking = False
retry_files_enabled = False
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_cache
fact_caching_timeout = 3600
# Закомментируйте или измените эту строку
# stdout_callback = yaml
# Используйте стандартный callback
stdout_callback = default
deprecation_warnings = False
interpreter_python = /usr/bin/python3
forks = 10
timeout = 30
remote_user = rocky
become = true
become_method = sudo
collections_paths = /home/aleksey/.local/lib/python3/site-packages/ansible_collections